.type-centered {
    text-align: center !important;
}

.full-width {
    width: 100% !important;
}

.color-swatches {
    list-style: none;
    padding: 0;
    margin: 0;
    /* 	text-indent: -9999px; */
    position: relative;
}

.color-swatches li {
    margin-right: 20px;
}

.color-swatches-active:after {
    content: "";
    width: 40px;
    height: 40px;
    box-shadow: inset 10px 10px 5px black;
}

.color-swatches li:first-child {
    margin-right: 20px;
}

.color-swatches li:last-child {
    margin-right: 0;
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.circle-black {
    background-color: #000000;
}

.circle-sterlinggray {
    background-color: #4C4B4C;
}

.circle-ingotsilver {
    background-color: #BEBFC1;
}

.circle-white {
    background-color: #EEEEEE;
}

.circle-performanceblue {
    background-color: #00366F;
}

.circle-bluecandy {
    background-color: #0087C1;
}

.circle-ruby {
    background-color: #A51A24;
}

.circle-red {
    background-color: #E10010;
}

.circle-moltenorange {
    background-color: #C63F09;
}

.circle-green {
    background-color: #789c09;
}

.height-500 {
    width: 100%;
    height: 500px;
    background-image: url("../img/drivingdownstreet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.blue-sync {
    width: 100%;
    height: 500px;
    background-image: url("../img/blue-fiesta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.carousel {
    width: 100%;
    height: 600px;
    background-image: url("../img/billboards/billboard-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.large-red-fiesta {
    width: 100%;
    height: 700px;
    background-image: url("../img/reveal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.large-red-fiesta h5,
.large-red-fiesta h3 {
    color: white;
}

.sync-dash-module {
    width: 100%;
    height: 1000px;
    background-image: url("../img/sync-dash.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: bottom center;
}

.border-top-bottom {
    border-top: 1px solid #E6E9EB;
    border-bottom: 1px solid #E6E9EB;
}

.vehicle-info-item {
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 1px solid #E6E9EB;
}

.vehicle-info-item:last-child {
    border-right: 1px solid #E6E9EB;
}

@media (max-width: 768px) {
    .vehicle-info-item:first-child {
        border-bottom: 1px solid #E6E9EB;
    }
    .vehicle-info-item:last-child {
        border-right: none;
    }
    .pseudo-car .carTempHolder {
        top: 100px;
    }
}

.vehicle-info-heading {
    font-size: 12px;
    color: #999999;
    margin-bottom: 8px;
}

.vehicle-info-value {
    color: #415967;
    font-size: 30px;
}

.gray-background {
    background-color: #f2f2f2;
}

.find-section {
    padding: 30px 0;
}

.find-section div {
    padding-left: 18px;
}

.find-heading {
    color: #2D96CD !important;
    font-size: 22px !important;
    font-weight: normal;
}

.find-copy {
    padding-right: 65px;
}

.border-bottom {
    border-bottom: 1px solid #E6E9EB;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.vehicle-info p {
    margin-bottom: 0;
    color: #425968;
    font-size: 1em;
}

.models {
    padding: 60px 0 85px 0;
    overflow: hidden;
}

.colors,
.made-easier,
.key-features,
.serious-go {
    padding: 60px 0 85px 0;
}

.h3-subhead {
    border-bottom: 1px solid #388EBD;
    margin-bottom: 50px;
    display: inline-block;
    text-decoration: none;
}

img {
    text-align: center;
}

a {
    text-decoration: none !important;
}


/* BLOATCSS */

.color-changer {
    position: relative;
    background-color: #b4dced;
    -webkit-transition: all .5s ease-out;
    overflow: hidden;
}

.color-circle.color-circle-active {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
}

.color-circle {
    display: inline-block;
    width: 47px;
    height: 47px;
    text-indent: -9999px;
    -webkit-transition: all .3s ease-out;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-bottom: 15px;
}

.color-circle a {
    display: block;
    border-radius: 50%;
    height: 100%;
    -webkit-transition: all .3s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.color-circle a:hover {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, .5);
}

.topBG {
    position: relative;
    z-index: 2;
}

.gradient-bg {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.pseudo-car {
    position: relative;
}

.carTempHolder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.color-swatches {
    position: relative;
    z-index: 1000;
    text-align: center;
}

@media (max-width: 768px) {
    .color-swatches {
        width: 351px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .color-swatches li:first-child {
        margin-right: 15px;
    }
    .color-swatches li:nth-child(5),
    .color-swatches li:last-child {
        margin-right: 0;
    }
    .color-swatches li {
        margin-right: 15px;
        margin-bottom: 17px;
    }
    #color-changer {
        margin-top: -100px;
    }
}

.rounded-btn {
    text-decoration: none;
    border: 1px solid #388EBD;
    border-radius: 3px;
    padding: 20px 100px;
    font-size: 16px !important;
    display: inline-block;
}

.fix-button {
    position: relative;
    z-index: 1000;
}

.sex-change {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #0087C1;
}

@media (max-width: 1200px) {
    #color-changer {
        padding: 0 20px;
    }
}

.change-heading-color {
    margin-top: 20px;
}

.change-heading-color a {
    text-decoration: none;
}

.change-heading-color a:hover {
    opacity: .8;
}

.change-heading-color h4 {
    color: #2C96CC;
    margin-top: 20px;
}

.change-heading-color h4 {
    color: #2C96CC;
    margin-top: 20px;
}

.change-heading-color p {
    color: #415967;
}

.sync-dash-module {
    color: white;
}

.sync-btn {
    text-decoration: none;
    border: 1px solid #388EBD;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    padding: 20px 55px;
    font-size: 16px !important;
    display: inline-block;
    margin-right: 30px;
}

.sync-btn:nth-child(3) {
    margin-right: 0;
}

.sync-btn-active {
    border: 1px solid #388EBD;
    color: #388EBD;
}

@media (max-width: 740px) {
    .sync-btn {
        text-decoration: none;
        border: 1px solid #388EBD;
        border: 1px solid white;
        color: white;
        border-radius: 3px;
        padding: 8px 15px;
        font-size: 11px !important;
        display: inline-block;
        margin-right: 6px;
    }
}

.vehicle-info .large-3 a {
    display: inline-block;
}

.vehicle-info .large-3 a:hover h5 {
    border-bottom-color: #1C394F;
    border-bottom-width: 3px;
    color: #1C394F;
}

.vehicle-info .large-3 a:hover .vehicle-msrp {
    margin-top: -2px;
}

.vehicle-info h5 {
    margin-top: 0 !important;
}

.compare-btn {
    text-decoration: none;
    border: 1px solid #2495CF;
    color: #2495CF;
    border-radius: 3px;
    padding: 20px 55px;
    font-size: 16px !important;
    display: inline-block;
    margin-right: 30px;
    margin-top: 80px;
}
