.type-centered {
	text-align: center !important;
}

.full-width {
	width: 100% !important;
}

.color-swatches {
	list-style: none;
	padding: 0;
	margin: 0;
/* 	text-indent: -9999px; */
	position: relative;
}
.color-swatches li {
	margin-right: 20px;
}
.color-swatches-active:after {
	content: "";
	width: 40px;
	height: 40px;
	box-shadow: inset 10px 10px 5px black;
}
.color-swatches li:first-child {
	margin-right: 20px;
}
.color-swatches li:last-child {
	margin-right: 0;
}
.color-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.circle-black {
	background-color: #000000;
}
.circle-sterlinggray {
	background-color: #4C4B4C;
}
.circle-ingotsilver {
	background-color: #BEBFC1;
}
.circle-white {
	background-color: #EEEEEE;
}
.circle-performanceblue {
	background-color: #00366F;
}
.circle-bluecandy {
	background-color: #0087C1;
}
.circle-ruby {
	background-color: #A51A24;
}
.circle-red {
	background-color: #E10010;
}
.circle-moltenorange {
	background-color: #C63F09;
}
.circle-green {
	background-color: #789c09;
}
.height-500 {
	width: 100%;
	height: 500px;
	background-image: url("../img/drivingdownstreet.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.blue-sync {
	width: 100%;
	height: 500px;
	background-image: url("../img/blue-fiesta.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.carousel {
	width: 100%;
	height: 600px;
	background-image: url("../img/billboards/billboard-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.large-red-fiesta {
	width: 100%;
	height: 700px;
	background-image: url("../img/reveal.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.large-red-fiesta h5,
.large-red-fiesta h3 {
	color: white;
}

.sync-dash-module {
	width: 100%;
	height: 1000px;
	background-image: url("../img/sync-dash.jpg");
	background-repeat: no-repeat;
	background-color: black;
	background-position: bottom center;
}
.border-top-bottom {
	border-top: 1px solid #E6E9EB;
	border-bottom: 1px solid #E6E9EB;
}

.vehicle-info-item {
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	border-left: 1px solid #E6E9EB;
}
.vehicle-info-item:last-child {
	border-right: 1px solid #E6E9EB;
}

<<<<<<< 8a60ca74f992661494f59c903399e45cf7a7a2f6
<<<<<<< ef96d037fe75f1555aa4001f440693616de0c792
@media (max-width: 768px) {
	.vehicle-info-item:first-child {
		border-bottom: 1px solid #E6E9EB;
	}
	.vehicle-info-item:last-child {
		border-right: none;
	}
<<<<<<< 6ee0534227fd7620ed8ec8921bb22b95e173e22f
<<<<<<< 50bf81f2a4be0ec77fee370c26e9dcd1ecd7d678
	.pseudo-car .carTempHolder {
		top: 102px;
	}
=======
>>>>>>> Fixed JS error?
=======
	.carTempHolder {
		top: 102px;
	}
>>>>>>> ColorPicker: Fixed responsive color picker
}

=======
>>>>>>> Adding site
=======
>>>>>>> Adding site
.vehicle-info-heading {
	font-size: 12px;
	color: #999999;
	margin-bottom: 8px;
}

.vehicle-info-value {
	color: #415967;
	font-size: 30px;
}

.gray-background {
	background-color: #f2f2f2;
}
<<<<<<< 6ee0534227fd7620ed8ec8921bb22b95e173e22f
<<<<<<< 8a60ca74f992661494f59c903399e45cf7a7a2f6
=======
@media (max-width: 768px) {
	.vehicle-info:first-child {
		border-bottom: 1px solid #E6E9EB;
	}
}
>>>>>>> Adding site
=======
>>>>>>> ColorPicker: Fixed responsive color picker

.find-section {
	padding: 30px 0;
}

.find-section div {
	padding-left: 18px;
}

.find-heading {
	color: #2D96CD !important;
	font-size: 22px !important;
	font-weight: normal;
}

.find-copy {
	padding-right: 65px;
}

.border-bottom {
	border-bottom: 1px solid #E6E9EB;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.vehicle-info p {
	margin-bottom: 0;
	color: #425968;
	font-size: 1em;
}

.models {
	padding: 60px 0 85px 0;
<<<<<<< 8a60ca74f992661494f59c903399e45cf7a7a2f6
<<<<<<< ef96d037fe75f1555aa4001f440693616de0c792
	overflow: hidden;
=======
>>>>>>> Adding site
=======
>>>>>>> Adding site
}

.colors,
.made-easier,
.key-features,
.serious-go {
	padding: 60px 0 85px 0;
}

.h3-subhead {
	border-bottom: 1px solid #388EBD;
	margin-bottom: 50px;
	display: inline-block;
	text-decoration: none;
}

img {
	text-align: center;
}

a {
	text-decoration: none !important;
}